[Unit]
Description=The %I Instance of The Apache HTTP Server
After=network.target remote-fs.target nss-lookup.target
Documentation=man:httpd(8)
Documentation=man:apachectl(8)

[Service]
Type=notify
#EnvironmentFile=/etc/sysconfig/multiple_httpd
ExecStart=/usr/sbin/httpd -f /etc/httpd_%I/conf/httpd.conf $OPTIONS -DFOREGROUND
#ExecStart=/usr/sbin/httpd $%I $OPTIONS -DFOREGROUND
ExecReload=/usr/sbin/httpd -f /etc/httpd_%I/conf/httpd.conf $OPTIONS -k graceful
#ExecReload=/usr/sbin/httpd $%I $OPTIONS -k graceful
ExecStop=/bin/kill -WINCH ${MAINPID}
# We want systemd to give httpd some time to finish gracefully, but still want
# it to kill httpd after TimeoutStopSec if something went wrong during the
# graceful stop. Normally, Systemd sends SIGTERM signal right after the
# ExecStop, which would kill httpd. We are sending useless SIGCONT here to give
# httpd time to finish.
KillSignal=SIGCONT
PrivateTmp=true

[Install]
WantedBy=multi-user.target